@charset "UTF-8";


$rojo: #e2001a;
$rojo-claro: #e21f1f;
$azul: #001c3a;

:root {
  accent-color: $rojo;
}

input[type="radio"] {
  display: none;
}

.Cajas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  row-gap: 30px;
  position: relative;

  .labradio::before {
    content: "";
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #fff;
    background-color: transparent;
    position: absolute;
    left: 0;
  }
}

input[type=radio]:checked+label:before {
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

/* inicio del aside */
.publicidad {
  background-color: $rojo;
  text-align: center;
  color: #fff;
  font-size: clamp(2px, 14px, 20px);
  padding: 5px 20px;
}

.pub--white {
  background-color: #fff;
  color: $rojo;
}

.subscribe {
  font-weight: 600;
}

.click {
  color: #fff;
}

/* fin del aside */

/* inicio menu de navegación */

.checkbox {
  display: none;
}

.header-menu {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000000;
  height: 85px;
  padding: 2px 30px;
  box-shadow: 0px 38px 50px 8px #ffffff;
}

.nav-menu {
  background-color: #fff;
  height: 200px;
  justify-content: center;
  align-items: center;
  display: none;
}

.nav-menu__lista {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  list-style: none;
  width: 100%;
  padding: 0;
}

.nav-menu__link {
  color: $rojo;
  text-decoration: none;
  display: block;
}

.logo-img {
  min-width: 100px;
  width: 30%;
  max-width: 180px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
}

.btn-menu {
  position: absolute;
  z-index: 20;
  right: 15px;
  top: 15px;
  width: 60px;
  height: 45px;
  background-color: $rojo;
  border-radius: 20px;
  border: none;
}

.btn-menu:active {
  opacity: 0.9;
}

.men {
  display: none;
}

.chk-oculto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.chk-oculto__lineas {
  height: 2px;
  width: 60%;
  background-color: #111;
  position: absolute;
  transition: transform .2s ease-in-out;
}

.linea--primera {
  top: 12px;
}

.linea--tercera {
  bottom: 12px;
}

.checkbox:checked~.linea--primera {
  transform: translateY(9px) rotate(38deg);
}

.checkbox:checked~.linea--segunda {
  display: none;
}

.checkbox:checked~.linea--tercera {
  transform: translateY(-9px) rotate(-38deg);
}

.checkbox:checked~.header-menu .nav-menu {
  display: flex;
  left: 0;
  top: 85px;
  position: absolute;
  width: 100%;
}

.checkbox:checked~.header-menu {
  flex-direction: column;
  align-items: initial;
}

.nav-menu__item,
.nav-menu__link {
  position: relative;
  width: 100%;
}

.nav-menu__link::after {
  content: "";
  background: linear-gradient(to right, transparent 15%, #00ffbf, #ff3737, #d103ff, #04fe3a);
  background-position: left;
  background-size: 600%;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -6px;
  transition: background-position .4s ease-in-out;
}

.nav-menu__link:hover::after {
  background-position: right;
  background-size: 200%;
}

.link--active::after {
  background: linear-gradient(to right, transparent 15%, #00ffbf, #ff3737, #d103ff, #04fe3a);
  background-position: left;
  background-size: 600%;
}

.redes {
  display: flex;
  width: 70px;
  height: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  position: absolute;
  left: 0;
  margin: auto;
  right: 0;
}

.ig,
.fb {
  filter: brightness(0) saturate(100%) invert(21%) sepia(97%) saturate(6277%) hue-rotate(346deg) brightness(84%) contrast(114%);
  width: 18px;
}

/* fin del menu de navegación */

/* inicio del swiper */

.section-1 {
  min-height: 80vh;
  overflow: hidden;
  position: relative;
}

.swiper {
  width: 100%;
  cursor: grab;

  img {
    height: 750px;
    object-fit: cover;
    object-position: center;
  }
}

.swiper:active {
  cursor: grabbing;
}

.swiper-pagination {
  transform: translateY(-20px) !important;
}

.swiper-pagination-bullet {
  outline: 2px solid #fff !important;
  opacity: 1 !important;
  background: transparent !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

.title {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
  color: #fff;
  font-size: 55px;
  background: linear-gradient(90deg, #e2001a 0%, #ffffff00 47%);
  padding: 30px;
  display: flex;
  align-items: end;

  h1 {
    width: 350px;
  }
}

/* final del swiper */

/* Inicio de Card */

.my-card {
  width: 480px;
  height: 380px;
  border-radius: 5px;
}

.principal__enlace {
  width: 40%;
  display: inline-block;
  text-decoration: none;
  background-color: #00708f;
  padding: 4px;
  border-radius: 30px;
  color: #fff;
  transition: background-color 0.3s linear;
  border: none;
}

.principal__enlace:hover {
  outline: 2px solid #00708f;
  background-color: transparent;
}

/* Final de Card */

/* inicio del dialog */

dialog[open] {
  transition: transform 0.7s ease-in-out;
  transform: translateY(0);
}

@starting-style {
  dialog[open] {
    transform: translateY(-55vh);
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.466);
}

dialog {
  margin: auto;
  padding: 25px;
  background: $azul;
  text-align: center;
  border: 2px solid #1146cc;
  border-radius: 17px;
  transform: translateY(-75vh);
  color: #fff;

  button {
    width: 70%;
    padding: 6px 3px;
    border: none;
    border-radius: 15px;
    background: $rojo;
    border: none;
    color: #fff;
    margin: 15px 0;
  }

  transition: transform 0.6s ease-in-out,
  display 0.5s allow-discrete;
}

dialog::after {
  background: linear-gradient(165deg, $azul 35%, $rojo 100%);
}


#close {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 6px;
  color: #f00;
  font-size: 25px;
}

/* Section 2 */
.Section-2 {
  background-color: #f5f5f5;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
}

.CardImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 900;

  span {
    height: 100%;
    background-color: $rojo;
    opacity: 0.5;
    width: 100%;
    position: absolute;
  }


  img {
    filter: invert(100%);
  }
}

.CardImage::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: $rojo;
  background: #fff;
  border-radius: 100%;
  font-weight: 900;
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: -15px;
  left: -3px;
  z-index: 1000;
}

.salud {
  background-image: url("../media/Fotos e iconos/digital-brain-with-neon-lights-representing-fusion-neuroscience-advanced-technology.jpg");

  &::before {
    content: "1";
  }
}

.sperm {
  background-image: url("../media/Fotos e iconos/3d-rendering-dartboard-red-blurry-motion-capturing-dynamic-action-competitive-setting.jpg");

  &::before {
    content: "2";
  }
}

.chincheta {
  background-image: url("../media/Fotos e iconos/isolated-beautiful-cyber-woman-against-abstract-background.jpg");

  &::before {
    content: "3";
  }
}

.cerveza {
  background-image: url("../media/Fotos e iconos/powerful-partnership-handshake-symbolizing-collaboration-trust-success-highlighted-with.jpg");

  &::before {
    content: "4";
  }
}

.Header-Card {
  padding-top: 16px;
}

/* Section 3*/
.Section-3__Article {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 400px;
  padding: 0 50px;
  background-color: $azul;
  box-shadow: 0px 38px 480px 40px #ffffffb6;
}

.Section-3__Figure {
  background-image: url("../media/Fotos e iconos/impactacom_Waiter_preparing_a_cocktail_from_which_a_lot_of_smok_39cc6042-3b3e-4264-91e6-3ddbb9f91152.png");
  height: 580px;
  width: 460px;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  top: -95px;
}

.Section-3__Header {
  position: absolute;
  top: 200px;
  color: #fff;
  padding: 0 20px;
}

.Section-3__H2 {
  font-size: 35px;
  letter-spacing: 9px;
}

/* Section 4*/
.Section-4 {
  background-color: $rojo;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container-Sec4 {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 95px 24px 20px;

  h3 {
    color: #fff;
  }
}

.Caja1 {
  width: 100%;
  height: 100%;
}

.Article-Type-1 {
  width: 320px;
  height: 320px;
  gap: 12px;
  flex-wrap: wrap;
  display: flex;
}

.Small-Icon,
.Long-Icon {
  background-color: $rojo-claro;
  background-repeat: no-repeat;
  padding: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Article-Type-2 {
  width: 480px;
  height: 480px;
  flex-wrap: wrap;
  display: flex;
  gap: 12px;
}

.Icon-1 {
  background-image: url("../media/logos/Recurso_8.svg");
}

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
  gap: 8px;

  img {
    width: 160px;
  }
}



/* Section 5*/
.Section-5 {
  background-color: $rojo;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.Formi1 {
  width: 100%;
  min-height: 550px;
  padding: 18px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.Form-Title {
  color: #fff;
  font-weight: 500;

  span {
    font-weight: 900;
  }
}

fieldset {
  border: none;
}

legend {
  margin-bottom: 16px;
}

.Input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 16px 10px 16px 25px;
  height: 36px;
}

.Form-Set1 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  min-width: 220px;
  max-width: 570px;
  gap: 6px;
  height: 80%;
  min-height: 260px;

  Input {
    width: 49%;
  }
}

::placeholder {
  color: $rojo;
  font-size: 16px;
}

.Comentarios {
  outline: none;
  border-radius: 5px;
  width: 99%;
  resize: none;
  padding: 16px 16px 6px 24px;
  border: none;
  height: 240px;
}

.Form-Set2 {
  min-width: 220px;
  max-width: 570px;
  width: 100%;
  height: 65%;
}

legend {
  color: #fff;
}

.labradio {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 12px;
  width: 80%;
  padding: 10px 10px;
}

.labcheckbox {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  width: 50%;
  position: relative;
  padding-left: 50px;

  &::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid #fff;
    background-color: #fff;
    position: absolute;
    left: 0;
  }
}

input[type=checkbox]:checked+.labcheckbox:before {
  background-color: $azul;
  content: "✔️";
}

.politicas {
  font-size: 11px;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.Caja2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Radial {
  width: 34px;
  height: 34px;
  border: none;
  background-color: rgba(231, 220, 123, 0);
}

.Privacidad {
  display: none;
}



.Enviar {
  border-radius: 24px;
  padding: 12px;
  border: none;
  color: $rojo;
  background-color: #fdce1e;
  width: 50%;
  cursor: pointer;
}

.Form-Set3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.Section-2 {
  padding: 150px 20px;
}

.Section-5 {
  padding: 20px;
}

/* fin del dialog*/

/*  footer  */
.footer {
  display: flex;
  width: 100%;
  min-height: 50vh;
  background-color: $azul;
  justify-content: space-between;
  align-items: start;
  padding: 45px;
  flex-wrap: wrap;
  gap: 20px;

  .titles-footer {
    color: $rojo;
  }

  .div__ul {
    color: #fff;
    list-style: none;
    padding: 8px 0;
    font-size: 0.7em;

    li {
      padding: 10px 0;
    }
  }

  .div-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
  }

  .logo {
    position: relative;
  }

  p {
    color: #fff;
  }

  .pay {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 9px;

    img {
      width: 40px;
    }
  }

  .ig-footer,
  .fb-footer {
    width: 18px;
  }

  .redes2 {
    padding: 10px 0;
  }
}

@media (width >=768px) {
  .redes {
    position: relative;
    margin: initial;
  }

  .Section-2 {
    padding: 150px 150px;
  }

  .btn-menu {
    display: none;
  }

  .nav-menu {
    display: flex;
    height: 100px;
    background: none;
  }

  .nav-menu__lista {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
  }

  .checkbox:checked+.header-menu {
    flex-direction: row;
    justify-content: space-around;
  }

  .checkbox:checked+.header-menu .nav-menu {
    background: none;
    position: relative;
    top: 0;
  }
}

@media (min-width: 1120px) {
  .div11 {
    grid-column: span 2;
  }

  .div12 {
    grid-column: span 3;
  }
}

@media (width >=1265px) {
  .parent {
    grid-template-columns: repeat(7, minmax(165px, 1fr));
    grid-template-rows: repeat(2, 1fr);
  }

  .div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .div4 {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .div5 {
    grid-column-start: 4;
    grid-row-start: 1;
  }

  .div6 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
  }

  .div7 {
    grid-column-start: 5;
    grid-row-start: 1;
  }

  .div8 {
    grid-column-start: 6;
    grid-row-start: 1;
  }

  .div9 {
    grid-column-start: 7;
    grid-row-start: 1;
  }

  .div10 {
    grid-column-start: 5;
  }

  .div11 {
    grid-column-start: 6;
  }

  .div12 {
    grid-column-start: 7;
  }
}

/*# sourceMappingURL=styles.css.map */